<!--Contact section-->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto text-center">
                <div class="card service-card">
                    <h3 class="mb-3">Contact Me</h3>
                    <p class="services-text mb-4">
                        Let's discuss your idea
                    </p>
                    <ul class="list-unstyled">
                        <li>
                            <i class="fas fa-envelope"></i>
                            <a href="mailto:haro.trabajo&#64;hotmail.com">haro.trabajo&#64;hotmail.com</a>
                        </li>
                        <li>
                            <i class="fab fa-linkedin"></i>
                            <a href="https://www.linkedin.com/in/arodi-emmanuel-haro-palacios-a9308b330/"
                                target="_blank">
                                LinkedIn Profile
                            </a>
                        </li>
                        <li>
                            <i class="fab fa-github"></i>
                            <a href="https://github.com/arodoo" target="_blank">
                                GitHub Projects
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>