<nav>
  <mat-toolbar [class.scrolled]="isScrolled()">
    <!-- Mobile View (Hamburger Menu) -->
    <div class="mobile-container d-flex d-md-none w-100">
      <button mat-icon-button aria-label="Menu button" (click)="toggleMobileMenu()">
        <mat-icon>{{ isMobileMenuOpen() ? "close" : "menu" }}</mat-icon>
      </button>
      <span class="brand-name">Poetry</span>
    </div>

    <!-- Desktop View (Navbar) -->
    <div class="nav-container d-none d-md-flex">
      @for (section of sections; track section) {
      <button mat-button (click)="scrollToSection(section)" [class.active-section]="isActive(section)">
        {{ section | titlecase }}
        <div class="active-indicator" *ngIf="isActive(section)"></div>
      </button>
      }
    </div>
  </mat-toolbar>

  <!-- Mobile Menu (Shows when toggled) -->
  <div class="mobile-menu" [class.open]="isMobileMenuOpen()">
    @for (section of sections; track section) {
    <button mat-button (click)="scrollToSection(section); closeMobileMenu()" [class.active-section]="isActive(section)">
      {{ section | titlecase }}
      <div class="active-indicator" *ngIf="isActive(section)"></div>
    </button>
    }
  </div>
</nav>