mat-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: transparent;
    transition: all 0.3s ease;
    padding: 1rem 2rem;

    &.scrolled {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

        .nav-container button {
            opacity: 0.7;

            &:hover {
                opacity: 1;
                text-shadow:
                    -1px -1px 0 rgba(192, 192, 192, 0.5),
                    1px -1px 0 rgba(192, 192, 192, 0.5),
                    -1px 1px 0 rgba(192, 192, 192, 0.5),
                    1px 1px 0 rgba(192, 192, 192, 0.5);
            }
        }
    }

    .nav-container {
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 3rem;
        margin: 0.5rem 0;

        button {
            font-size: 1.3rem;
            opacity: 0.5;
            transition: all 0.3s ease;
            position: relative;
            color: white;
            padding: 0.5rem 1rem;
            text-shadow: none;

            &:hover {
                opacity: 1;
                text-shadow:
                    -1px -1px 0 rgba(192, 192, 192, 0.5),
                    1px -1px 0 rgba(192, 192, 192, 0.5),
                    -1px 1px 0 rgba(192, 192, 192, 0.5),
                    1px 1px 0 rgba(192, 192, 192, 0.5);
            }
        }
    }
}