<section class="services-section">
    <div class="container-fluid">
        <!-- This section will be pinned during animation -->
        <section class="services-scroll-section">
            <div class="cards-container" appServicesCardsScrollAnimation [cards]="serviceCards">
                <div *ngFor="let card of serviceCards" class="col-md-4 position-absolute service-card-wrapper">
                    <div class="card service-card text-center h-100 p-3">
                        <div class="card-body">
                            <div class="service-image mb-3">
                                <img [src]="card.imageUrl" [alt]="card.title" class="img-fluid rounded">
                            </div>
                            <i class="fas {{card.icon}} icon mb-3"></i>
                            <h4 class="card-title mb-3">{{card.title}}</h4>
                            <p class="card-text">{{card.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</section>